@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --bg-primary: #1a1a1a;
    --text-primary: #ffffff;
  }

  body {
    user-select: none;
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
  }
  .toolbar,
  .nav,
  .canvas-container {
    touch-action: none;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
  }
  input[type="checkbox"] {
    @apply form-checkbox 
      w-3 h-3 rounded 
      border-neutral-300 dark:border-[#000000]
      text-blue-600 dark:text-blue-500
      bg-white dark:bg-[#a3a3a3]
      focus:ring-1 focus:ring-blue-500 dark:focus:ring-blue-500
      focus:ring-offset-0
      checked:bg-blue-600 dark:checked:bg-blue-500
      checked:hover:bg-blue-700 dark:checked:hover:bg-blue-600
      transition-colors;
  }
}

#root {
  height: 100vh;
  width: 100vw;
}

@layer components {
  .mini-slider {
    @apply h-1.5 rounded-full appearance-none bg-gray-200;
  }

  .mini-slider::-webkit-slider-thumb {
    @apply w-2.5 h-2.5 rounded-full bg-blue-500 appearance-none cursor-pointer;
  }

  .mini-slider::-moz-range-thumb {
    @apply w-2.5 h-2.5 rounded-full bg-blue-500 border-none cursor-pointer;
  }
}
.slider-tooltip {
  @apply fixed bg-gray-800 text-white px-2 py-1 rounded text-xs pointer-events-none;
  transform: translate(-50%, -100%);
  margin-top: -8px;
}
